<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FileInExcl</display-name>
  <servlet>
    <servlet-name>ExcleDemo</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.ExcleDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutExcle</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.OutExcle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>Servlet.OutServlet</servlet-class>
  </servlet>
  


  <servlet-mapping>
    <servlet-name>ExcleDemo</servlet-name>
    <url-pattern>/ExcleDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutExcle</servlet-name>
    <url-pattern>/OutExcle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/OutServlet</url-pattern>
  </servlet-mapping>
</web-app>